.first-grid{
    display: grid;
    grid-template-rows: 4fr 1fr;
}

.second-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.third-grid{
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.fourth-grid{
    display: grid;
    grid-template-rows: 4fr 6fr;
}

.fifth-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-1{
    background-image: url('../../Assets/Images/CategoriesPic/Jean-Cafe-Maroon-100-Cotton-SDL060281791-1-b9a4b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -15px;
}

.img-2{
    background-image: url('../../Assets/Images/CategoriesPic/isolated-black-t-shirt-model-front-view.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-3{
    background-image: url('../../Assets/Images/CategoriesPic/denims.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-4{
    background-image: url('../../Assets/Images/CategoriesPic/istockphoto-172417586-612x612.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -15px;
}

.img-5{
    background-image: url('../../Assets/Images/CategoriesPic/laptopbackpacks-2048px-6879.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.img-6{
    background-image: url('../../Assets/Images/CategoriesPic/CURREN-8329-Watches-price-i.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-7{
    background-image: url('../../Assets/Images/CategoriesPic/BVJ82E1ILO-1-scaled.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.img-8{
    background-image: url('../../Assets/Images/CategoriesPic/Types-of-Mens-Hats-Banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button{
    display: none;
    width: 9rem;
    padding: 0.75rem;
    /* background-color: rgb(26, 154, 189); */
    margin-bottom: 2.5rem;
    color: white;
    font-weight: 600;
    height: 70px;
    border-radius: 0.75rem;
    font-size: 18px;

}


.hoverDiv:hover .hoverEffect{
    display: none;
}
.hoverDiv:hover .button{
    display: block;   
    background-color: rgb(26, 154, 189);
}
